{# templates/papier/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add Paper{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4" style="color: #E9B824; font-family: 'Georgia', 'Times New Roman', 'Palatino', serif;">Add Paper</h1>

                {{ form_start(form) }}
                
                <div class="form-group">
                    {{ form_label(form.voiture, 'Vehicle', {'label_attr': {'style': 'color: #fff;'}}) }}
                    {{ form_widget(form.voiture, { 'attr': {'class': 'form-control', 'style': 'background-color: #2d2d2d; color: #fff;'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.DateValidation, 'Date Validation', {'label_attr': {'style': 'color: #fff;'}}) }}
                    {{ form_widget(form.DateValidation, { 'attr': {'class': 'datepicker'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.ExpiresAt, 'Expires At', {'label_attr': {'style': 'color: #fff;'}}) }}
                    {{ form_widget(form.ExpiresAt, { 'attr': {'class': 'datepicker'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.etat, 'Etat', {'label_attr': {'style': 'color: #fff;'}}) }}
                    {{ form_widget(form.etat, { 'attr': {'class': 'form-control', 'style': 'background-color: #2d2d2d; color: #fff;'} }) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.TypePapier, 'TypePapier', {'label_attr': {'style': 'color: #fff;'}}) }}
                    {{ form_widget(form.TypePapier, { 'attr': {'class': 'form-control', 'style': 'background-color: #2d2d2d; color: #fff;'} }) }}
                </div>



                <button type="submit" class="btn btn-secondary">Add</button>
                {{ form_end(form) }}

                <div class="form-group mt-3">
                    <a href="{{ path('listePapier') }}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #232323;
            padding-top: 70px;
            color: #fff;
        }
    </style>
{% endblock %}
