{# templates/voiture/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List of Rentals{% endblock %}

{% block body %}
    
    <div class="container mt-5" style="color: #E9B824; font-family: 'Georgia', 'Times New Roman', 'Palatino', serif;" >
        <h1 class="text-center mb-4" style="margin-top: 140px;">List of Rentals</h1>
    </div>

<div class="container mt-5 mb-4"> 
    <div class="row justify-content-center" >
        <div class="col-md-6">
            {{ form_start(form) }}
            <div class="input-group mb-3">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Search by Matricule'}}) }}
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                        Research
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<div class="container regime-table mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
    
        <div class="ml-auto"> <!-- Use ml-auto to push the button to the right -->
            <a href="{{ path('new_location') }}" class="btn btn-custom btn-lg"> <!-- Add a custom class -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Create a New Rentals
            </a>
        </div>
    </div>
</div>
{% for flash_message in app.flashes('notice') %}
<div class="container mt-3">
        <div class="alert alert-success text-center" >
            {{ flash_message }}
        </div>
        </div>
    {% endfor %}

        <table class="table table-striped" style="color: #fff;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">client</th>
                    <th scope="col">Voiture</th>
                    <th scope="col">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                    <tr>
                        <td>{{ location.startDate|date('Y-m-d') }}</td>
                        <td>{{ location.endDate|date('Y-m-d') }}</td>
                        <td>{{ location.tarif ? location.tarif.id : 'None' }}</td>
                        <td>{{ location.client ? location.client.id : 'None' }}</td>
                        <td>{{ location.voiture ? location.voiture.Matricule : 'None' }}</td>
                        
                        
                    
                    <td>
                                
                                <a href="{{ path('delete_location', {'id': location.id}) }}" class="btn btn-outline-danger" 
   onclick="return confirm('Êtes-vous sûr de supprimer ?');">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
    </svg>
    Supprimer
</a>

                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        body {
            background-color: #232323; 
            
        }
         .btn-custom {
    background-color: #808080; 
    color: #fff;}
        </style>
{% endblock %}
