{# templates/voiture/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List of Vehicles{% endblock %}

{% block body %}
    
    <div class="container mt-5" style="color: #E9B824; font-family: 'Georgia', 'Times New Roman', 'Palatino', serif;" >
        <h1 class="text-center mb-4" style="margin-top: 140px;">List of Vehicles </h1>
    </div>

    <div class="container mt-5 mb-4"> 
        <div class="row justify-content-center" >
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Search by Matricule'}}) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                            Research
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="container regime-table mt-3">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="ml-auto"> <!-- Use ml-auto to push the buttons to the right -->
                <a href="{{ path('new_voiture') }}" class="btn btn-custom btn-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path
                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    Create a New Vehicles
                </a>
                <a href="{{ path('listePapier') }}" class="btn btn-custom btn-lg">
                    Papier
                </a>
                <a href="{{ path('listeVidange') }}" class="btn btn-custom btn-lg">
                    Vidange
                </a>
                <a href="{{ path('listeEntretien') }}" class="btn btn-custom btn-lg">
                    Entretien
                </a>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% for flash_message in app.flashes('notice') %}
            <div class="alert alert-success text-center" >
                {{ flash_message }}
            </div>
        {% endfor %}

        <table class="table table-striped" style="color: #fff;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Matricule</th>
                    <th scope="col">Number of seats</th>
                    <th scope="col">Color</th>
                    <th scope="col">Category</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Brand</th>
                    <th scope="col">GearBox</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for voiture in voitures %}
                    <tr>
                        <td>{{ voiture.Matricule }}</td>
                        <td>{{ voiture.nbrePlace }}</td>
                        <td>{{ voiture.couleur }}</td>
                        <td>{{ voiture.category }}</td>
                        <td>{{ voiture.etat }}</td>
                        <td>{{ voiture.marque ? voiture.marque.getLibelleMarque() : 'Unknown' }}</td>
                        <td>{{ voiture.boite ? voiture.boite.typeboite : 'Unknown' }}</td>
                        
                        <td>
                            <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="btn btn-outline-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897+.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                Détails
                            </a>
                            <a href="{{ path('edit_voiture', {'id': voiture.id}) }}" class="btn btn-outline-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                                Modifier
                            </a>
                            <a href="{{ path('delete_voiture', {'id': voiture.id}) }}" class="btn btn-outline-danger" onclick="return confirm('Êtes-vous sûr de supprimer ?');">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.500 8.5a.5.5 0 0 1-.998.06l.5-8.5a.5.5 0 0 1 .470-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        body {
            background-color: #232323; 
        }
        .btn-custom {
            background-color: #808080; 
            color: #fff;
            margin-right: 5px; /* Add margin between buttons */
        }
    </style>
{% endblock %}
