{% extends 'base.html.twig' %}

{% block title %}Car Details{% endblock %}

{% block body %}
    <div class="container car-details" style="margin-top: 100px; display: flex; flex-direction: column; align-items: center;">
        <h1 class="mb-4" style="color: #333; font-size: 28px;">Car Details</h1>
        
        <div class="plat-details" style="width: 100%; max-width: 400px;">
            {% if voiture.image %}
                <img src="{{ voiture.image.url }}" alt="{{ voiture.marque }} Image" class="img-fluid rounded">
            {% endif %}
        <div class="details mt-3">
            <p><span class="label">Matricule:</span> {{ voiture.Matricule }}</p>
            <p><span class="label">Number of Seats:</span> {{ voiture.nbrePlace }}</p>
            <p><span class="label">Color:</span> {{ voiture.couleur }}</p>
            <p><span class="label">Category:</span> {{ voiture.category }}</p>
            <p><span class="label">Etat:</span> {% if voiture.etat == 'available' %}✅{% else %}❌{% endif %}</p>

            {# Add the associated "Marque" and "Boite" fields here #}
            {% if voiture.marque is not null %}
                <p><span class="label">Brand:</span> {{ voiture.marque.libellemarque }}</p>
            {% endif %}

            {% if voiture.boite is not null %}
                <p><span class="label">GearBox:</span> {{ voiture.boite.typeboite }}</p>
            {% endif %}
            
        </div>
        
        <hr>

        <a href="{{ path('listeVoiture') }}" class="btn btn-secondary">Back to List</a>
    </div>

    <style>
        body {
            background-color: #232323;
        }

        .car-details {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
            overflow: hidden; /* Clear float containment */
            text-align: center; /* Center the content */
        }

        .label {
            font-weight: bold;
            color: #007bff;
        }

        .btn-secondary {
            background-color: #6c757d;
            color: #fff;
            border: 1px solid #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            border: 1px solid #5a6268;
        }

        /* Custom styles for image alignment */
        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .details {
            /* Add any additional styling for the details */
        }
    </style>
{% endblock %}
