{# templates/Tarif/indexT.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}List of Prices{% endblock %}

{% block body %}
    
    <div class="container mt-5" style="color: #E9B824; font-family: 'Georgia', 'Times New Roman', 'Palatino', serif;" >
        <h1 class="text-center mb-4" style="margin-top: 140px;">List of Prices</h1>
    </div>


<div class="container regime-table mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
    
        <div class="ml-auto"> <!-- Use ml-auto to push the button to the right -->
            <a href="{{ path('new_Tarif') }}" class="btn btn-custom btn-lg"> <!-- Add a custom class -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Create a New Prices
            </a>
        </div>
    </div>
</div>

    {% for flash_message in app.flashes('notice') %}
        <div class="container mt-3">
            <div class="alert alert-success text-center">
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}

    {% for category, tarifs in pricesByCategory %}
        <div class="category-section">
            <h2 class="category-title">{{ category | title }}</h2>
            <table class="table table-striped" style="color: #fff;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Category</th>
                        <th scope="col">Periode</th>
                        <th scope="col">Price(TND)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarif in tarifs %}
                        <tr>
                            <td>{{ tarif.id }}</td>
                            <td>{{ tarif.category }}</td>
                            <td>{{ tarif.periode }}</td>
                            <td>{{ tarif.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

    <style>
        body {
            background-color: #232323; 
        }

        .category-title {
            color: white;  /* Set the color of category titles to white */
        }
        .btn-custom {
    background-color: #808080; 
    color: #fff;}
    </style>

{% endblock %}
